@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  height: 300vh;
  margin: 0;
}

/* first section */

header {
  color: white;
  font-size: 28px;
  font-weight: 750;
}
.top {
  background-color: #1f2937;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.content {
  width: 1500px;
  display: flex;
  flex-direction: column;
  gap: 180px;
}

.first-section {
  color: #eee;
  display: flex;
  justify-content: space-between;
}

.f-text {
  display: flex;
  flex-direction: column;
  width: 600px;
  flex-wrap: wrap;
  gap: 10px;
}
.f-text h1 {
  font-size: 48px;
  color: #f9faf8;
}
.f-text p {
  font-size: 18px;
  color: #e5e7eb;
  line-height: 1.5;
}

.f-text button {
  background-color: #3882f6;
  height: 50px;
  width: 150px;
  color: #eee;
  font-size: 20px;
  font-weight: 800;

  border-radius: 10px;
}
ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #eee;
}

.header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

/* Second Section */

.second-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: flex-start;
}

.image-collection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.quad-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 13px;
  text-align: center;
}

/* text effects */

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.text.a {
  color: #8a8a8a;
}
.text.b {
  color: #4a7c59;
}

.text.c {
  color: #c4622d;
}

.text.d {
  color: #8b5cf6;
}

.sec-header {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

/* played around some to get the image fixation and borders correct */

.f-img {
  border: 5px solid blue;
  border-radius: 18px;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.f-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Third Section */

.third-section {
  width: 100vw;
  height: 60vh;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.third-content {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-text {
  font-size: 36px;
  line-height: 1.3;
}

/* the guy is the greatest racing driver of all time Godspeed Sir Ayrton Senna!!! */

.quote-guy {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 750;
  display: flex;
  align-self: flex-end;
  margin-right: 50px;
}
